<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>高血压项目数据分析报告</title>

  </head>
    <body>
        <!--
          一般数据分析报告需要的元素：
            1、数据分析目的（需求）
            2、数据来源
            3、分析方法
            4、分析结果
        -->
        <center><h1>高血压比率数据分析报告</h1></center>
        <h5>数据分析报告人:李刚</h5>
        <h6>数据分析责任人:史金涛</h6>
        <h3>一、数据分析目的</h3>
        <p>针对本小区高血压患者的一些情况做数据分析，可以更好的为小区附近的家政服务、社区医疗中心提供数据上的支持。</p>
        <h3>二、数据来源</h3>
        <p>所有数据都来自于社区某医疗中心的统计数据，相关数据的真实性由社区某医疗中心解释说明。</p>
        <h3>三、数据分析</h3>
        <p>通过提取数据，将数据以高血压患者和高血压非患者的比率进行对比，通过对比图来得出分析结果。</p>
        <!--
        {%   autoescape off %}
        {{ newpie }}
        {%   endautoescape %}
        -->

        {{ newpie|safe }}

        <h3>四、数据分析的结果</h3>
        <p>以上数据为本小区社会某医疗中心提供，高血压患者只有276人，相比于测试人群1182是一个不太大的数字，根据以上的数字得出结论：</p>
        <p>本测试人群人高血压患者比率不高，可能本小区人的乐于健身，或者生活比较有规律，或者年龄普遍偏小，所以高血压患者比率小。</p>
    </body>
</html>
