<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高血压分析</title>
    <script src="js/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet"  href="css/jquery.mobile.min.css">
    <script src="js/jquery.mobile.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header"  data-theme="b"  data-position="fixed">
            <!--定义一个按钮-->
            <a href="#">设置</a>
            <!--h3是一个标题标签-->
            <h2>高血压分析</h2>
        </div>
        <div data-role="content">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <center><img src="images1/11.png"/>
                    <h3>高血压问卷调查</h3></center>
                </div>
                <div class="ui-block-b">
                    <center><img src="images1/12.png"/>
                    <h3>高血压软文爬取</h3></center>
                </div>
                <div class="ui-block-c">
                    <center><img src="images1/13.png"/>
                    <h3>高血压数据分析</h3></center>
                </div>

                 <div class="ui-block-a">
                    <center><img src="images1/14.png"/>
                     <h3>高血压预测</h3></center>
                </div>
                <div class="ui-block-b">
                    <center><img src="images1/15.png"/>
                    <h3>高血压项目测试</h3></center>
                </div>
                <div class="ui-block-c">
                    <center><img src="images1/16.png"/></center>
                </div>

                 <div class="ui-block-a">
                    <center><img src="images1/17.png"/></center>
                </div>
                <div class="ui-block-b">
                    <center><img src="images1/18.png"/></center>
                </div>
                <div class="ui-block-c">
                    <center><img src="images1/19.png"/></center>
                </div>

            </div>
        </div>
        <div data-role="footer"  data-theme="b"  data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">首页</a></li>
                    <li><a href="#" data-icon="gear">设置</a></li>
                    <li><a href="#" data-icon="star">收藏</a></li>
                    <li><a href="#" data-icon="info">我的</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>